body{
	background-color: #CCF;
}

#consent-form td,th {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
}

#consent-form table tr td table tr td {
	font-size: 24px;
}
#consent-form table tr td table tr td p {
	color: #000;
	font-size: 16px;
}
#consent-form table tr td table tr td table tr td {
	color: #000;
	font-size: 16px;
	text-align: left;
}
#consent-form table tr td table tr td table tr td table tr td {
	font-size: 16px;
	color: #F00;
}
#consent-form table tr td p {
	font-size: 16px;
}

#consent-form table tr td table {
	color: #FFF;
}
#consent-form table tr td table tr td table tr td div {
	font-weight: bold;
	color: #F00;
	font-size: 18px;
}
#consent-form table tr td div table tr td div a {
	color: #000;
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
}
#consent-form table tr td div table tr td div {
	color: #000;
}
#consent-form table tr td div table tr td table tr td {
	font-weight: normal;
}
#consent-apDiv1 {
	position: absolute;
	width: 37px;
	height: 28px;
	z-index: 1;
	left: 835px;
	top: 183px;
}

.submit-btn{
	height:25px;
	width:90px;
}

#order-form td,th {
	color: #000;
}

#order-form table tr td table tr td {
	font-size: 24px;
	font-family: Arial, Helvetica, sans-serif;
	color: #FFF;
}
#order-form table tr td div table tr td table tr td {
	color: #000;
	font-size: 16px;
}

#order-form table tr td div table tr td table tr td table tr td {
	font-size: 14px;
	text-align: left;
	font-weight: bold;
}
#order-form td {
	color: #F00;
}
#order-form table tr td div table tr td table tr td div {
	color: #F00;
}
#order-apDiv1 {
	position: absolute;
	width: 18px;
	height: 21px;
	z-index: 1;
	left: 698px;
	top: 409px;
}
#order-form table tr td div table tr td table tr td div table tr td table tr td p {
	font-size: 14px;
}
#order-form table tr td div table tr td table tr td div table tr td table tr td {
	font-size: 16px;
}
#order-form table tr td div table tr td table tr td div table tr td table tr td {
	color: #000;
}
#order-form table tr td div table tr td table tr td div table tr td table tr td table tr td {
	text-align: center;
	font-size: 18px;
	font-style: normal;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}
#order-form table tr td div table tr td div a {
	color: #000;
	font-size: 18px;
}
#order-form table tr td div table tr td table tr td div table tr td table tr td {
	font-size: 14px;
	font-style: normal;
}

#order-form table tr td div table tr td table tr td div table tr td {
	font-size: 16px;
}
#order-form table tr td div table tr td table tr td div table tr td {
	font-size: 18px;
}
#order-form table tr td div table tr td table tr td div table tr td {
	font-size: 16px;
}
#order-form table tr td div table tr td table tr td div table tr td {
	font-size: 14px;
}
#order-form table tr td div table tr td table tr td div table tr td {
	font-size: 18px;
}
#order-form table tr td div table tr td table tr td div table tr td table tr td div {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 16px;
}

#user-apDiv1 {	position: absolute;
	width: 37px;
	height: 28px;
	z-index: 1;
	left: 835px;
	top: 183px;
}
#user-form table tr td table tr td {
	font-size: 24px;
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
}
#user-form table tr td table tr td table tr td {
	font-size: 18px;
	color: #FFF;
}
#user-apDiv2 {
	position: absolute;
	width: 31px;
	height: 25px;
	z-index: 1;
	color: #F00;
	left: 446px;
	top: 167px;
}
#user-form table tr td table tr td table tr td table {
	color: #000;
}
#user-form table tr td table tr td table tr td table tr td {
	color: #000;
}
#user-apDiv {
	position: absolute;
	width: 31px;
	height: 25px;
	z-index: 1;
	color: #F00;
	left: 203px;
	top: 261px;
}
#user-apDiv3 {
	position: absolute;
	width: 24px;
	height: 16px;
	z-index: 1;
	color: #F00;
	left: 273px;
	top: 228px;
}
#user-apDiv4 {
	position: absolute;
	width: 31px;
	height: 21px;
	z-index: 1;
	color: #F00;
	left: 432px;
	top: 200px;
}
#user-apDiv5 {	position: absolute;
	width: 31px;
	height: 25px;
	z-index: 1;
	color: #F00;
	left: 407px;
	top: 306px;
}
#user-apDiv6 {	position: absolute;
	width: 31px;
	height: 25px;
	z-index: 1;
	color: #F00;
	left: 222px;
	top: 270px;
}
#user-form table tr td table tr td table tr td table tr td table tr td a {
	color: #000;
}

#details-form td,th {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #FFF;
}

#details-form table tr td table tr td {
	font-size: 124px;
	color: #FFF;
}
#details-form table tr td table tr td p {
	color: #000;
	font-size: 16px;
}
#details-form table tr td table tr td table tr td {
	color: #000;
	font-size: 16px;
	text-align: left;
}
#details-form table tr td table tr td table tr td table tr td {
	font-size: 16px;
	color: #F00;
}
#details-form table tr td p {
	font-size: 16px;
	color: #FFF;
}

#details-form table tr td table {
	color: #FFF;
}
#details-form table tr td table tr td table tr td div {
	font-weight: bold;
	color: #F00;
	font-size: 18px;
}
#details-form table tr td div table tr td div a {
	color: #000;
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
}
#details-form table tr td div table tr td div {
	color: #000;
}
#details-form table tr td div table tr td table tr td {
	font-weight: normal;
	color: #FFF;
}
#apDiv1 {
	position: absolute;
	width: 37px;
	height: 28px;
	z-index: 1;
	left: 835px;
	top: 183px;
}
.a {
	color: #FFF;
}
.c {
	font-size: 18px;
	color: #000;
}
.c {
	color: #000;
}
.c {
	color: #000;
}
.c {
	color: #000;
}

.error {
	color: #FF0000;
}
